{% extends 'home/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Login here :</h1>
      <form method="post" action="{% url 'home:user_login' %}">
        {% csrf_token %}
        {# A more "HTML" way of creating the login form#}
        <br>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="submit" name="" value="Login">
      </form>
      <center>{% load static %} <img src="{% static "images/po_icon.png" %}" alt="PO" width="400" height="400"/></center>
    </div>
  </div>
{% endblock %}